
#=====================================#
#             Frontend                #
#=====================================#


#==[Symfony]==========================#
frontend/web/bundles/
/frontend/app/bootstrap.php.cache
/frontend/app/cache/*
/frontend/app/logs/*
/frontend/app/config/parameters.yml
/frontend/app/config/parameters_db_dev.yml
/frontend/app/config/parameters_app_dev.yml
/frontend/app/Resources/translations/*
!/frontend/app/cache/.gitkeep
!/frontend/app/logs/.gitkeep
!/frontend/app/Resources/translations/.gitkeep
/frontend/app/SymfonyRequirements.php
/frontend/app/check.php

#==[Vendor]=========================#
/vendor/*
/bin/*
/frontend/bin/
/frontend/node_modules/*
/frontend/bower_components/*
/frontend/web/built/*
frontend/web/desktop/js/*
frontend/web/desktop/css/*
frontend/web/mobile/css/*
frontend/web/mobile/js/*


frontend/node_modules/*
frontend/npm-debug.log

#==[Composer]=========================#

/frontend/composer.phar
#==[IDE]==============================#
.buildpath
.settings/
.project
.nbproject/
.idea/

#==[CI generated artifacts]===========#
/build/api
/build/code-browser
/build/coverage
/build/logs
/build/pdepend
/cov

.vagrant
/_init/vagrant/puphpet/files/dot/ssh/*
/default/

*.orig

/html

#==[assets]=========================#
.gitconfig
/assets/.sass-cache
/assets/node_modules
/assets/**/*.map

#=====================================#
#             Backend                 #
#=====================================#
/var/logs/*
/var/cache/*
id_rsa*
root_id_rsa*
*.bak



#=====================================#
#             VAGRANT                 #
#=====================================#

html/


